.missions-table table {
  border-collapse: collapse;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.missions-table td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.missions-table tr:nth-child(even) {
  background-color: whitesmoke;
}

.missions-table table .discription {
  width: 60%;
}

.missions-table table button {
  background-color: white;
  height: 30px;
}
