.missions-table table {
  border-collapse: collapse;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.missions-table td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.missions-table td .reserved-flag {
  background-color: #0290ff;
  border-radius: 5px;
}

.missions-table tr:nth-child(even) {
  background-color: whitesmoke;
}

.missions-table table .discription {
  width: 55%;
}

.missions-table table button {
  background-color: white;

  /* color: white; */

  /* border: 2px #0290ff solid; */
  border-radius: 5px;
  height: 35px;
}

.missions-table table .join {
  background-color: #0290ff;
  color: white;
  border: 2px #0290ff solid;
  border-radius: 5px;
  height: 35px;
}
